/*---------parna-------------*/
#yt_header .mini-cartpro .block-title {
	position:relative;
	border-right:1px solid #e3e1e1;
	padding-right:20px;
}
#yt_header .mini-cartpro .block-title .summary .amount a{
	background-color:#fb9550;
	position:absolute;
	 left:23px;
    top: -13px;
	padding:0 5px;
	color:#fff;
	font-size:91.6%;
}
#yt_header .mini-cartpro .block-tittle-inner{
	float:left;
}
#yt_header .mini-cartpro .minicart-title{
	padding-left:45px;
	font-size:150%;
}
/*-------------------------*/


.clearfix {
	*zoom: 1;
}

.clearfix:before,.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

#blurmask {
	display: none;
	padding: 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9991;
	visibility: visible;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.block-cart {
	font-size: 100%;
}
#yt_header .mini-cartpro{
	position:relative;
}
.mini-cartpro .block-content {
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 999;
	/*overflow: hidden !important;*/
	background: #FFF;
	width: 340px;
	box-shadow: 1px 1px 1px 0 #e3e1e1;
	-ms-box-shadow: 1px 1px 1px 0 #e3e1e1;
	-o-box-shadow: 1px 1px 1px 0 #e3e1e1;
	-moz-box-shadow: 1px 1px 1px 0 #e3e1e1;
	-webkit-box-shadow: 1px 1px 1px 0 #e3e1e1;
	border:1px solid #e3e1e1;
	
}
.mini-cartpro .block-content .block-inner{

}
.mini-cartpro .block-content:before{
	position:absolute;
	top:-9px;
	right:30px;
	background:url(../images/minicart-arrow.png) no-repeat;
	width:17px; height:9px;
	content:" ";
}
.mini-cartpro .block-title .btn-cart-emty,
.mini-cartpro .block-title a.btn-toggle{
	font-size: 0;
	z-index: 1;
	top: 0;
	right: 0;
	position: absolute;
	width:100%;
	height:30px;
}
.mini-cartpro .block-title a.btn-toggle:hover{
	cursor:pointer;
}
.mini-cartpro .block-content .mini-products-list{
	padding:20px 20px 0 20px;
	max-height:325px;
	overflow-y: auto;
}
.mini-cartpro .block-content .mini-products-list .truncated{
	clear:both;
	padding-top:5px;
}
.mini-cartpro .block-content .mini-products-list .truncated .item-options dt{
	float:left;
	margin-right:15px;
}
.mini-cartpro .block-content .mini-products-list .item .truncated .price{
	font-size:100%;
	font-weight:normal;
}
.mini-cartpro .block-content .mini-products-list .item{
	margin-bottom:20px;
}

.mini-cartpro .block-content .mini-products-list .item .product-details{
	
}
.mini-cartpro .block-content .mini-products-list .item .product-image {
	float:left;
	margin-right:10px;
	border:1px solid #e3e1e1;
}
.mini-cartpro .block-content .mini-products-list .item .product-name{
	font-size:133%;
	line-height:100%;
}
.mini-cartpro .block-content .mini-products-list .item .price{
	font-size:167%;
	color:#ff0036;
	font-weight:bold;
}
.mini-cartpro .block-content .mini-products-list .item .title-qty,
.mini-cartpro .block-content .mini-products-list .item .qty-val{
	font-size:116.6%;
	color:#444;
}
.mini-cartpro .block-content .mini-products-list li.item a.btn-edit{
	display:none;
}
.mini-cartpro .block-content .mini-products-list li.item a.btn-remove{
	background-image:url(../images/ico-remove.png);
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;
	width:23px; height:22px;
	float:right;
}

.mini-cartpro .block-content .bottom-action {
	height:67px;
	/*line-height:67px;*/
	border-top:1px solid #e3e1e1;
	padding:13px 20px 20px 20px;
}
#yt_wrapper .mini-cartpro .block-content .bottom-action .button{
	width:45px; height:40px;
	border-radius:100%; 	
	-moz-border-radius:100%; 	
	khtml-border-radius:100%; 	
	-webkit-border-radius:100%;
	background-color:#cbcbcb;
	background-repeat:no-repeat;
	background-image:url(../images/ico-actions-minicart.png);
}

#yt_wrapper .mini-cartpro .block-content .bottom-action .button.btn-gotocart{
	background-position:-48px center;
	margin-left:7px;
}

#yt_wrapper .mini-cartpro .block-content .bottom-action .button.btn-checkout{
	background-position:8px center;
}
#yt_wrapper .mini-cartpro .block-content .summary{
	float:left;	
}
#yt_wrapper .mini-cartpro .block-content .btn-actions{
	float:right;
	/*line-height:61px;*/
}
#yt_wrapper .mini-cartpro .block-content .summary .subtotal .label-total{
	font-size:150%;
	color:#444;
}
#yt_wrapper .mini-cartpro .block-content .summary .subtotal .price{
	font-size:167%;
	color:#ff0036;
	font-weight:bold;
}
#confirmbox .head-iteminfo {
	text-align: center;
}

#zoptions .special-price .price-label {
	font-size: 100%;
}


#zoptions .ratings {
	display: inline-block;
}

#zoptions .price-box {
	margin: 0;
	font-size: 133%;
    font-weight: bold;
}
#zoptions .price-box .price-label {
	font-size:12px;
	font-weight:normal;
}
#zoptions .wrap-qty .qty-set{
	margin-left:20px;
}
#zoptions {
/* 	left: -235px; */
	BORDER-BOTTOM: 0px inset;
	POSITION: absolute;
	BORDER-LEFT: 0px inset;
	padding: 0;
	height: 20px;
	min-height: 20px;
	height: auto !important;
	DISPLAY: block;
	VISIBILITY: visible;
	BORDER-TOP: 0px inset;
	TOP: 0px;
	BORDER-RIGHT: 0px inset;
	text-align: left;
}

#zoptions #product-shop {
	text-align: left;
}
#zoptions #product-shop .qty-title{
	float: left;
    margin-top: 5px;
    font-weight: bold;
    margin-right: 3px;
}
#zoptions .product-name {
	text-align: left; 
}

#zoptions .product-name>a {
	font-weight: bold;
	margin-left: 5px;
}

#zoptions .product-name h1 {
	font-size: 116.67%;
	font-weight: bold;
	margin-bottom: 10px;
}

#zoptions .price-box .minimal-price-link {
	display: inline-block;
}

#zoptions .add-to-cart {
	float: left;
}

#options-tab {
	z-index: 10002;
	position: fixed;
	padding: 0px;
	background-color: #2564c0;
	display: block;
	height: 0px;
	visibility: visible;
}

#options {
	display: block;
	margin: 0 auto;
	width: 330px;
}

#iffix {
	position: absolute;
	display: block;
	z-index: -1;
	width: 467px;
	height: 320px;
	top: 0;
	left: 0;
	filter: mask();
	background-color: #FFF;
	border: 0px solid white;
}

#loading-mask .loader {
	position: fixed;
	top: 45%;
	left: 41%;
	width: 120px;
	padding: 15px 60px;
	background: #fff4e9;
	border: 2px solid #f1af73;
	color: #d85909;
	font-weight: bold;
	text-align: center;
	z-index: 1000;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	opacity: 0.80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* IE8 */
}

#loadmask {
	opacity: 0.8;
	filter: alpha(opacity = 80);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80 );
	/* IE8 */
}

#loadmask img {
	background: url("../images/ajax-loader-tr.gif") repeat scroll 0 0 transparent;
}

.loader {
	background: none repeat scroll 0 0 #FFF4E9;
	border: 2px solid #F1AF73;
	color: #D85909;
	font-weight: bold;
	padding: 15px 60px;
	text-align: center;
	width: 200px;
	margin-left: 50px;
}

#btnavi ul {
	list-style: none outside none;
}

#btnavi ul li {
	display: inline;
}

#btnavi ul li:first-child {
	margin-right: 15px;
}

#btccart {
	text-decoration: none;
	display: inline-block;
}
#confirmbox .button.btn-cart > span,
#btcancel,
#btccart span,
#btcshop span {
	color: #FFFFFF;
	display: inline-block;
	height: 30px;
	text-align: center;
	white-space: nowrap;
	padding:6px 10px;
}
/*
#confirmbox  .button.btn-cart > span,
#btcancel{
	margin-top: 20px;
}*/
.sm-cartpro.mini-cartpro .actions button.button {
	float: none;
}

#btcclose {
	background-color: #609946;
	color: black;
	margin-left: 10px;
	border: 1px solid #3B6E22;
}

#btcshop1,#btccart1 {
	display: block;
	font-size: 10px;
	font-weight: bold;
	height: 38px;
	line-height: 36px;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
}

#btnavi {
	text-align: center;
	margin-top: 15px;
}

#cdown {
	display: inline;
}

#confirmbox {
	background-color: #FFF;
	border: 2px solid #ccc;
	padding: 20px 10px 15px 10px;
	width: 300px;
	min-height: 70px;
	height: auto !important;
	position: relative;
	z-index: 1000;
}

#confirmbox .price-box .old-price {
	text-decoration: line-through;
}

#confirmbox p {
	font-weight: bold;
	margin: 0 0 5px;
}

#confirmbox p.required {
	margin: 0 0 10px 0;
	padding: 0px;
	color: #EB340A;
}


#confirmbox #product_addtocart_form {
	max-height: 400px;
	overflow-y: auto;
}

#options #confirmbox .iteminfo.sm-cartpro .bottom-iteminfo,
#options #confirmbox .iteminfo.sm-cartpro .body-iteminfo{
	display:none;
}

#options #confirmbox .moretext{
	text-align:center;
}

#options #fancybox-outer {
	height: 100%;
	position: relative;
	width: 100%;
	padding: 0;
}
#options #fancybox-close {
	position: absolute;
	top: -0px;
	right: -15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1103;
	display: none;	
}
#options #fancybox-close:before {
	content: "\f00d";
	font-family: 'FontAwesome'; 
	color:#666666;
	font-size:14px;
}
#options #fancybox-close:hover:before {
	color:#C71C1C;
}

#options #btcancel{
	float:right;
}
#options #product-options-wrapper .input-box input,
#options #product-options-wrapper select{
	width:200px;
}

