<?xml version="1.0"?>
<config>
	<global>
		<models>
			<imageslider>
				<class>Sm_Imageslider_Model</class>
			</imageslider>
		</models>
		<blocks>
			<imageslider>
				<class>Sm_Imageslider_Block</class>
			</imageslider>
		</blocks>
		<helpers>
			<imageslider>
				<class>Sm_Imageslider_Helper</class>
			</imageslider>
		</helpers>
		<resources>
			<slider_setup>
				<setup>
					<module>Sm_Imageslider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</slider_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<imageslider>
				<use>standard</use>
				<args>
					<module>Sm_Imageslider</module>
					<frontName>imageslider</frontName>
				</args>
			</imageslider>
		</routers>
		<layout>
			<updates>
				<imageslider module="Sm_Imageslider">
					<file>sm/imageslider.xml</file>
				</imageslider>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Imageslider>
					<files>
						<default>Sm_Imageslider.csv</default>
					</files>
				</Sm_Imageslider>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sm_Imageslider>
					<files>
						<default>Sm_Imageslider.csv</default>
					</files>
				</Sm_Imageslider>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<imageslider_cfg translate="title" module="imageslider">
											<title>SM Image Slider Settings</title>
										</imageslider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<imageslider module="Sm_Imageslider">
					<file>sm/imageslider.xml</file>
				</imageslider>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<imageslider_cfg>
			<general>
				<active>1</active>
				<theme_display>theme2</theme_display>
				<nb_column1>3</nb_column1>
				<nb_column2>2</nb_column2>
				<slider_title_text>Title Image Slider</slider_title_text>
				<product_links_target>_self</product_links_target>
			</general>

			<source_options>
				<product_additem></product_additem>
			</source_options>

			<product_options>
				<product_title_display>1</product_title_display>
				<product_title_maxlength>25</product_title_maxlength>
				<product_description_display>1</product_description_display>
				<product_description_maxlength>150</product_description_maxlength>
			</product_options>

			<image_options>
				<imgcfg_function>1</imgcfg_function>
				<imgcfg_width>200</imgcfg_width>
				<imgcfg_height>300</imgcfg_height>
				<imgcfg_constrainOnly>false</imgcfg_constrainOnly>
				<imgcfg_keepAspectRatio>true</imgcfg_keepAspectRatio>
				<imgcfg_keepFrame>true</imgcfg_keepFrame>
				<imgcfg_keepTransparency>true</imgcfg_keepTransparency>
				<imgcfg_background>FFFFFF</imgcfg_background>
				<imgcfg_placeholder>sm/imageslider/images/nophoto.jpg</imgcfg_placeholder>
			</image_options>

			<effect_options>
				<play>1</play>
				<start>1</start>
				<scroll>1</scroll>
				<duration>800</duration>
				<delay>800</delay>
				<stop>1</stop>
				<nav>0</nav>
				<loop>1</loop>
				<dots>0</dots>
				<margin>5</margin>
				<merge>1</merge>
				<navSpeed>1000</navSpeed>
				<mouseDrag>1</mouseDrag>
				<dotsSpeed>1000</dotsSpeed>
				<autoHeight>0</autoHeight>
				<wide_box>wide</wide_box>
			</effect_options>

			<advanced>
				<include_jquery>1</include_jquery>
				<pretext></pretext>
				<posttext></posttext>
			</advanced>
		</imageslider_cfg>
	</default>
</config>