.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li .sm-megamenu-child .mega2-cate .sm_megamenu_title_lv3:hover,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li .sm-megamenu-child .sm_megamenu_title .sm_megamenu_title_lv4:hover,

#yt_header .mini-cartpro .block-title.show,
.yt-product-detail .product-shop .availability.in-stock span,
.sm-slider .item-title a:hover,
.yt-footer-bottom .footer-info a,
.yt-menu-nav #nav li a:hover,
.yt-menu-nav #nav li.parent ul li.parent > a:hover > span:before,
.yt-menu-nav #nav li.parent a:hover span:before,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a:hover .sm_megamenu_title,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_lv1.parent > a.sm_megamenu_head:hover > span:before,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_lv1 > a.sm_megamenu_head:hover,
.block-login .block-title span,
#yt_pathway ul.breadcrumbs li.last,
#yt_pathway ul.breadcrumbs li.last:before,
.block-promotion .carousel-inner .item .promo-title:hover,
.product-name a:hover,

#yt_header .header-top-right .links li a:hover,
#yt_header .jqTransformSelectWrapper div span:hover,
#yt_header .jqTransformSelectWrapper:hover a.jqTransformSelectOpen:before,
/*label.required em,
#zoptions #confirmbox p,*/
#yt_pathway  ul.breadcrumbs li a:hover,
#fancybox-close:hover,
.yt_ressidebar_screennav .siderbar-menu li.active > a,
.yt_ressidebar_screennav .siderbar-menu li.active ul li.active > a,
.cart-empty p a,
a:hover, a:focus{
	color:#9194cb;
}
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li .sm_megamenu_title a:hover,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li .sm_megamenu_title a.sm_megamenu_actived,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_actived,
#yt_wrapper .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_actived > a.sm_megamenu_actived > span:before,
#yt_wrapper .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_actived > a.sm_megamenu_actived > span > .sm_megamenu_title{
	color:#f96a6e;
}

#yt_wrapper .search-mobile #search_mini_form .button,
#yt_header .quicklink-mobile .btn-quicklink:hover,
#yt_header .cart-mobile .mini-cartpro .block-title:hover,
#newsletter-popup .w-newsletter .actions .button,
#yt_wrapper .mini-cartpro .block-content .bottom-action .button:hover,
.block-related .related-page li:hover,
.block-related .related-page li.active,
.yt-product-detail .tab-product-detail .yt-tab-navi > li.active:before,
.yt-product-detail .tab-product-detail .yt-tab-navi > li:hover:before,
.yt-product-detail .tab-product-detail .yt-tab-navi > li > a,
.yt-product-detail .add-to-links li a:hover,
.quickview-main .yt-product-detail .add-to-cart .btn-cart:hover,
#yt_wrapper .yt-product-detail .add-to-cart .btn-cart:hover,
.quantity-box .quantity-controls:hover,
.yt-product-detail .more-views.slide-gallery .prev:hover,
.yt-product-detail .more-views.slide-gallery .next:hover,
.yt-slider-logo .sm-slider .page-button .control-button li:hover,
#yt_main_right .sm-slider .page-button .control-button li:hover,
#newsletter-validate-detail .input-box button,
#yt_footer .block-title:after,
.block-tabs-product ul.tabs-product li.active:before,
.block-tabs-product ul.tabs-product li:hover:before,
.block-tabs-product ul.tabs-product li a,
.block-promotion #carousel-generic .carousel-indicators li:hover,
.block-promotion #carousel-generic .carousel-indicators li.active,
#yt_content .freeship,
.sm_quickview_handler:hover,
.category-products .item .product-addto-wrap .btn-addto:hover,
#yt_wrapper .sm-serachbox-pro .sm-searbox-content .form-button.button,
#yt_header .block-login-bottom,
#yt_header .block-login .block-content .form-acc:hover label.label-form,
#yt_header .btn-head:hover,

.toolbar .select-inner ul li:hover a,
/*general*/
#yt_header .jqTransformSelectWrapper ul a:hover,
#yt_wrapper #yt_left .block-account .block-content > ul > li.current, 
#yt_wrapper #yt_left .block-account .block-content > ul > li:hover,
.toolbar .pagination-wrap .pagination .pages ol li:hover a,
.toolbar .pagination-wrap .pagination .pages ol li.current a,

.block-tags .tags-list li a:hover,
#yt_wrapper .button:hover,
#yt-responsivemenu .btn.btn-navbar:hover,
#checkout-progress-state li.active,
#checkout-progress-wrapper .block-content dt.complete, 
#checkout-progress-wrapper .block-content dt.complete a,
#yt-totop:hover,
#confirmbox #btcancel:hover,
#confirmbox .button.btn-cart:hover > span:hover, 
#btcancel:hover, 
#btccart span:hover, 
#btcshop:hover span
{
	background-color:#9194cb;
}
.block-tabs-product ul.tabs-product li a:hover,
.yt-product-detail .tab-product-detail .yt-tab-navi > li > a:hover,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu .mega-whatnew-parent .btn-shopnow:hover,
#narrow-by-list dt ~ dt,
.block-related .item .item-inner:hover .product-image,
#yt-responsivemenu .btn.btn-navbar:hover,
.quickview-main .yt-product-detail .add-to-cart .btn-cart:hover,
.products-list .item-inner .sm_quickview_handler:hover,
.category-products .item .product-addto-wrap .btn-addto:hover,
.sm_quickview_handler:hover,
.yt-product-detail .add-to-links li a:hover,
#yt_wrapper .yt-product-detail .add-to-cart .btn-cart:hover,
.quantity-box .quantity-controls:hover,
.yt-product-detail .more-views.slide-gallery .prev:hover,
.yt-product-detail .more-views.slide-gallery .next:hover,
.products-grid .item .product-addto-wrap .btn-addto:hover,
#yt_header .btn-head:hover,
#yt_main_right .sm-slider .page-button .control-button li:hover,
.yt-slider-logo .sm-slider .page-button .control-button li:hover,

.yt-product-detail .jCarouselLite li:hover .cloud-zoom-gallery > img, 
.yt-product-detail .jCarouselLite li.selected .cloud-zoom-gallery > img,

.toolbar .pagination-wrap .pagination .pages ol li:hover a,
.toolbar .pagination-wrap .pagination .pages ol li.current a{
	border-color:#9194cb;
}
.toolbar-top{
	border-top: 3px solid #9194cb;
}
.toolbar-bottom{
	border-bottom: 3px solid #9194cb;
}
.block-tabs-product ul.tabs-product li:first-child{
	border-left:1px solid #9194cb;
}
#yt_header .header-top-right .quicklink-desk .links li:hover{
	background-image:url(../../images/violet/quicklink-bg.png);
}
.toolbar .view-mode-wrap .view-mode a:hover,
.toolbar .view-mode-wrap .view-mode strong{
	background-image:url(../../images/violet/grid-list.png);
}
.sm-imageslider-content .owl-controls .owl-nav .owl-prev:hover,
.dynamicslideshow-container .tp-leftarrow.default:hover{
	background: url(../../images/pink/next-prev.png) no-repeat 0 center;
}
.sm-imageslider-content .owl-controls .owl-nav .owl-next:hover,
.dynamicslideshow-container .tp-rightarrow.default:hover {
	background: url(../../images/pink/next-prev.png) no-repeat -50px center;
}
.block-tabs-product ul.tabs-product li.active a,
.block-tabs-product ul.tabs-product li a:hover{
	background-image:url(../../images/violet/ico-tabs-pro.png);
}
.about-theshop .block-content .shopico{
	background-image:url(../../images/violet/ico-aboutshop.png);
}
#yt_header .promotion .slide-promotion .item .item-label{
	background-image:url(../../images/violet/promotion-label-bg.png);
}
#yt_left .sm-slider .page-button .control-button .next:hover{
	background:url(../../images/violet/leftslider-next.png) no-repeat;
}
#yt_left .sm-slider .page-button .control-button .preview:hover{
	background:url(../../images/violet/leftslider-prev.png) no-repeat;
}
.yt-product-detail .product-shop .availability.in-stock span{
	background:url(../../images/violet/ico-instock.png) no-repeat;
}
.mini-cartpro .block-content .mini-products-list li.item a.btn-remove:hover{
	background-image:url(../../images/violet/ico-remove.png);
}


